<!DOCTYPE html>
<html>

	<head>
		<title>Home</title>
		<link href="${request.contextPath}/before/css2/bootstrap.css" type="text/css" rel="stylesheet" media="all">
		<link href="${request.contextPath}/before/css2/style.css" type="text/css" rel="stylesheet" media="all">
		<!--web-font-->
		<!--<link href='http://fonts.useso.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->
		<!--//web-font-->
		<!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- //Custom Theme files -->
		<!-- js -->
		<script src="${request.contextPath}/before/js2/jquery-1.11.1.min.js"></script>
		<!-- //js -->
		<!-- start-smoth-scrolling-->

		<!--//end-smoth-scrolling-->
	</head>

	<body>
		<!--side-bar-->
		<div class="col-sm-3 col-md-2 sidebar" style="border-right: 1px solid rgb(234, 227, 227); width: 100%;">
			<div class="logo">
				<a href="index.html"><img src="${request.contextPath}/before/images/logo.png" alt="logo" /></a>
			</div>
			<div class="top-nav">
				<span class="menu-icon"><img src="${request.contextPath}/before/images/menu-icon.png" alt=""/></span>
				<div class="nav1">
					<ul class=" nav nav-sidebar">
						<li class="active">
							<a href="list.html" target="main">赛事公告</a>
						</li>
						<li>
							<a href="#">功能二</a>
						</li>
						<li>
							<a href="#">功能三</a>
						</li>
						<li>
							<a href="#">功能四</a>
						</li>
						<li>
							<a href="#">功能五</a>
						</li>
						<li>
							<a href="#">功能六</a>
						</li>
					</ul>
				</div>
				<!-- script-for-menu -->
				<!-- /script-for-menu -->
			</div>
			<div class="clearfix"> </div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js2/bootstrap.js">
		</script>
	</body>

</html>