body {
	margin:0;
}


.content {
	/*min-height: 1080px;*/
	/*background: #3a3c48 url("../images/log/content-bg.png");*/
	width: 1280px;
	position:relative;
	margin:0 auto;
}

.ThreeDeeFont {
font-family: 'Microsoft YaHei';
line-height: 1em;
color: #fff9d6;
font-weight:bold;
font-size: 80px;
text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}


.selectpad{
	width: 100%;
	position: relative;
	float: left;
	background-color: #889CBF;
	min-height: 60px;
	z-index: 100;
}

.select1{
	position: relative;
	float: left;
	margin-left: 15%;
	margin-top: 20px;
	height: 100%;
	width: 250px; 
}

.select2{
	position: relative;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	height: 100%;
	width: 250px; 
}

.btnpad{
	position: relative;
	float: left;
	width: 1280px;
	/*height: 100px;*/
}
